---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Indexbanner from "../components/Indexbanner.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import index0 from "/public/imgs/index/index_0.webp";
import index1 from "/public/imgs/index/index1.webp";
import index2 from "/public/imgs/index/index2.webp";
import index3 from "/public/imgs/index/index3.webp";
import index4 from "/public/imgs/index/index4.webp";
import index5 from "/public/imgs/index/index5.webp";
---

<MainLayout title="Magnolia">
  <!-- HERO -->

  <!-- ROLLING BANNER -->
  <Indexbanner />

  <!-- OM OS -->
  <section class="px-4xl">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-xl items-center">
      <!-- Billede (venstre kolonne) -->
      <div>
        <Image src={index0} alt="" class="w-[764px] h-[687px]" />
      </div>

      <!-- Tekst (højre kolonne) -->
      <div>
        <h2 class="font-headline text-headline2_lg text-grøn-700 mb-4xs">
          MAGNOLIA
        </h2>
        <h3 class="font-headline text-headline3_s text-grøn-700 mb-lg">
          blomsterabonnement på dine betingelser
        </h3>
        <p class="text-grøn-700 mb-s">
          Hos Magnolia tilbyder vi et unikt blomsterabonnement, der kombinerer
          bæredygtighed og skønhed. Vores buketter er ikke kun designet til at
          bringe glæde til dit hjem, men også til at skabe en grønnere fremtid.
          Vi forener overskudsblomster, miljøcertificerede valg og lokale
          avlere, hvilket gør vores abonnement både ansvarligt og smukt.
        </p>
        <p class="text-grøn-700 mb-s">
          Oplev hvordan blomster kan være en del af en bæredygtig livsstil –
          altid på dine betingelser, og leveret direkte til døren. Vi skaber
          smukke øjeblikke med omtanke for planeten.
        </p>
      </div>
    </div>
  </section>

  <!-- DYNAMISK TEKSTUDSKIFTNING -->
  <section
    class="px-4xl py-lg bg-beige-50 mt-6xl mb-6xl h-[484px] flex items-center justify-left text-left"
  >
    <div>
      <h2 class="font-headline text-headline3_lg text-grøn-700">
        HAR DU HUSKET AT FORKÆLE
        <span
          class="text-dynamic font-headline text-headline2_md text-beige-500"
        >
        </span>
      </h2>
      <h2 class="font-headline text-headline3_lg text-grøn-700 mt-md">
        MED ET BLOMSTERABONNEMENT
      </h2>
      <h2 class="font-headline text-headline3_lg text-grøn-700 mt-md">
        HOS MAGNOLIA?
      </h2>
    </div>
  </section>

  <!-- VORES BUKETTER -->

  <!-- SKRÆDDERSY DIT ABONNOMENT -->
  <section class="grid grid-cols-1 md:grid-cols-2 text-grøn-700">
    <!-- Venstre side med tekst -->
    <div class="ml-2xl">
      <h1 class="font-headline text-headline2_lg mt-ml">
        Dit personlige blomsterabonnement
      </h1>

      <div class="mt-lg">
        <p class="text-body_lg font-light mt-s">
          Gør dit hjem smukkere med et blomsterabonnement, der er <br /> tilpasset
          dine ønsker.
        </p>

        <!-- Ikoner -->

        <!-- budget -->
        <div class="flex-col flex justify-center items-center mt-s -ml-xl">
          <svg
            class="w-[37px] h-[37px] text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0.9"
              d="M17 8H5m12 0a1 1 0 0 1 1 1v2.6M17 8l-4-4M5 8a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.6M5 8l4-4 4 4m6 4h-4a2 2 0 1 0 0 4h4a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1Z"
            ></path>
          </svg>

          <p class="text-body_s font-light mt-xs mb-s">
            <span class=""></span> Vælg dit budget
          </p>

          <!-- Farver-->

          <svg
            class="w-[37px] h-[37px] text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0.9"
              d="M12 7h.01m3.486 1.513h.01m-6.978 0h.01M6.99 12H7m9 4h2.706a1.957 1.957 0 0 0 1.883-1.325A9 9 0 1 0 3.043 12.89 9.1 9.1 0 0 0 8.2 20.1a8.62 8.62 0 0 0 3.769.9 2.013 2.013 0 0 0 2.03-2v-.857A2.036 2.036 0 0 1 16 16Z"
            ></path>
          </svg>

          <p class="text-body_s font-light mt-xs mb-s">
            <span class=""></span> Farvepræferencer
          </p>

          <!-- levering -->

          <svg
            class="w-[37px] h-[37px] text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="0.9"
              d="M4 10h16M8 14h8m-4-7V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
            ></path>
          </svg>

          <p class="text-body_s font-light mt-xs mb-s">
            <span class=""></span> Leveringsdato
          </p>
        </div>

        <p class="text-body_lg font-light mb-s mr-4xl mt-s">
          Skulle du ønske at pause dit abonnement, springe leveringer over eller
          opsige det, gør vi processen enkel og smertefri. Start dit abonnement
          i dag, og oplev glæden ved altid at have friske, smukke blomster i dit
          hjem.
        </p>

        <p class="text-body_lg font-light mr-4xl">
          Bestil dit abonnement i dag og lad Magnolia bringe skønhed og ansvar
          ind i din hverdag.
        </p>
      </div>
    </div>

    <!-- Højre side med billede -->
    <div class="flex justify-center items-center">
      <Image
        src={index6}
        alt="Blomsterbillede"
        class="w-full max-w-[500px]h-auto md:w-[675px] md:h-[770px] object-cover"
      />
    </div>
  </section>

  <!-- BESTIL ABONNOMENT -->

  <section
    class="relative bg-cover bg-center bg-no-repeat h-[708px]"
    style="background-image: url('/public/imgs/index/index1.webp');"
  >
    <div class="absolute inset-0 bg-white bg-opacity-25"></div>

    <div
      class="relative flex flex-col items-center justify-center h-full text-center"
    >
      <!-- Overskrift -->
      <h2 class="font-headline text-headline2_lg text-beige-700 mb-lg">
        Bestil din buket her
      </h2>

      <!-- Knapper -->
      <div class="flex justify-center space-x-4 gap-lg">
        <!-- Gave abonnement -->
        <Button class="">Gave abonnement</Button>

        <!-- Personligt abonnement -->
        <Button class="">Personligt abonnement</Button>

        <!-- Erhvervs abonnement -->
        <Button class="">Erhvervs abonnement</Button>
      </div>
    </div>
  </section>

  <!-- INSTAGRAM -->

  <!-- ET GRØNNERE VALG -->
  <section class="bg-beige-50 mx-auto py-xl">
    <div class="max-w-[1200px] h-[650px] px-[20px] mx-auto text-center">
      <h2 class="text-headline2_lg font-headline text-grøn-700 pt-xl mb-3xl">
        Et grønnere valg
      </h2>
      <!-- Kolonner -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-2xl items-start">
        <!-- Kolonne 1 -->
        <div class="flex flex-col items-center text-center flex-grow">
          <img
            src="https://img.icons8.com/ios/50/map-marker--v1.png"
            alt="Danske blomster"
            class="mb-s w-12 h-12"
          />
          <h3 class="font-headline text-headline3_s text-grøn-700 mb-lg">
            Danske blomster
          </h3>
          <p class="text-grøn-700 mb-s">
            Vi prioriterer lokalt og dansk. Vores blomster dyrkes på friland
            uden brug af kunstgødning eller sprøjtemidler, hvilket minimerer
            transport og beskytter miljøet. Når du vælger danske blomster,
            støtter du samtidig lokale avlere og bidrager til et sundere klima.
          </p>
        </div>

        <!-- Kolonne 2 -->
        <div class="flex flex-col items-center text-center flex-grow">
          <img
            src="https://img.icons8.com/ios/50/flower--v1.png"
            alt="Friske overskudsblomster"
            class="mb-s w-12 h-12"
          />
          <h3 class="font-headline text-headline3_s text-grøn-700 mb-lg">
            Friske overskudsblomster
          </h3>
          <p class="text-grøn-700 mb-s">
            Vi forvandler overskud til elegance. Gennem eksklusive aftaler med
            blomstertransportører redder vi blomster, der stadig er friske, men
            ellers ville være gået til spilde. Disse overskudsblomster er kernen
            i vores buketter, som er designet til at forene skønhed og
            bæredygtighed.
          </p>
        </div>

        <!-- Kolonne 3 -->
        <div class="flex flex-col items-center text-center flex-grow">
          <img
            src="https://img.icons8.com/external-line-lima-studio/64/external-bouquet-event-line-lima-studio.png"
            alt="Certificerede blomster"
            class="mb-s w-12 h-12"
          />
          <h3 class="font-headline text-headline3_s text-grøn-700 mb-lg">
            Certificerede blomster
          </h3>
          <p class="text-grøn-700 mb-s">
            Vores sortiment suppleres med blomster fra miljøcertificerede
            gartnerier rundt om i verden. Disse gartnerier arbejder med respekt
            for naturen, reducerer vandspild og sikrer gode arbejdsvilkår. Vi
            prioriterer certificeringer som BIO, MPS og GLOBAL G.A.P., der
            garanterer ansvarlig produktion.
          </p>
        </div>
      </div>
    </div>
  </section>
</MainLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const dynamicText = document.querySelector(".text-dynamic");
    const phrases = [
      "DEN NYBAGTE MOR",
      "FØDSELAREN",
      "TEAMET",
      "DIN KÆRE",
      "DIN MOR",
      "JUBILAREN",
      "ARBEJDSPLADSEN",
      "DIN MORMOR",
      "DIN SØSTER",
      "KONTORET",
      "STUDENTEN",
      "DINE KOLLEGAER",
    ];

    let index = 0;

    function updateText() {
      dynamicText.textContent = phrases[index];
      index = (index + 1) % phrases.length; // Loop tilbage til start
    }

    setInterval(updateText, 1500); // Skift tekst hver 3. sekund
  });
</script>
