---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import kontakt from "/public/imgs/kontakt/kontakt.webp";
---

<MainLayout title="Kontakt">
  <section
    class="m-sm md:m-ml grid grid-cols-1 md:grid-cols-2 gap-m md:gap-xl text-grøn-700"
  >
    <div class="order-2 md:order-none">
      <Image
        src={kontakt}
        alt=""
        class="w-full h-full aspect-[1/1] object-cover fadein"
      />
    </div>

    <div class="">
      <h1
        class="font-headline text-headline1_s md:text-headline1_lg mt-xs md:mt-lg"
      >
        Kontakt
      </h1>

      <h3 class="font-headline text-headline3_s md:text-headline3_lg mt-sm">
        Kontor
      </h3>
      <p class="text-body_s md:text-body_lg font-light">
        Linde Allé 42 <br />
        Frederiksberg
      </p>

      <h3 class="font-headline text-headline3_s md:text-headline3_lg mt-sm">
        Telefon
      </h3>
      <ul class="text-body_s md:text-body_lg font-light">
        <li>+45 20 20 20 20</li>
        <li>Mandag til Fredag</li>
        <li>Kl. 08:00 – 13:00</li>
      </ul>

      <p class="text-body_s font-light mt-xs">
        Vi leverer alle 365 dage året rundt.
      </p>

      <h3 class="font-headline text-headline3_s md:text-headline3_lg mt-sm">
        Kontakt
      </h3>
      <Link
        size="xsmall"
        href="mailto:support@magnolia.dk"
        variant="textLink"
        color="grøn">support@magnolia.dk</Link
      >
    </div>
  </section>
</MainLayout>

<script>
  // ANIMATIONER
  import { inView, animate } from "motion";

  //   InView animation
  const fadein = document.querySelector(".fadein");

  inView(fadein, () => {
    fadein.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__slower"
    );
  });
</script>
