---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import BuketCard from "../components/BuketCard.astro";
import { Image } from "astro:assets";
import kontakt from "/public/imgs/kontakt/kontakt.webp";
---

<MainLayout title="Kontakt">
  <section
    class="m-sm md:m-ml grid grid-cols-1 md:grid-cols-2 gap-m md:gap-xl text-grøn-700"
  >
    <div class="order-2 md:order-none">
      <Image
        src={kontakt}
        alt=""
        class="w-full h-full aspect-[1/1] object-cover fadein"
      />
    </div>

    <div class="">
      <h1
        class="font-headline text-headline1_s md:text-headline1_lg mt-xs md:mt-lg"
      >
        Kontakt
      </h1>

      <h3 class="font-headline text-headline3_s md:text-headline3_lg mt-sm">
        Kontor
      </h3>
      <p class="text-body_s md:text-body_lg font-light">
        Linde Allé 42 <br />
        Frederiksberg
      </p>

      <h3 class="font-headline text-headline3_s md:text-headline3_lg mt-sm">
        Telefon
      </h3>
      <ul class="text-body_s md:text-body_lg font-light">
        <li>+45 20 20 20 20</li>
        <li>Mandag til Fredag</li>
        <li>Kl. 08:00 - 13:00</li>
      </ul>

      <p class="text-body_s font-light mt-xs">
        Vi leverer alle 365 dage året rundt.
      </p>

      <h3 class="font-headline text-headline3_s md:text-headline3_lg mt-sm">
        Kontakt
      </h3>
      <Link
        size="xsmall"
        href="mailto:support@magnolia.dk"
        variant="textLink"
        color="grøn">support@magnolia.dk</Link
      >
    </div>
  </section>
  <section class="mx-0 md:mx-xl mb-4xl">
    <!-- Vi har brugt Flickity JavaScript-bibliotek til at lave vores karusel -->
    <div class="js-flickity" data-flickity-options='{ "wrapAround": true }'>
      <div class="carousel-cell ml-xl">
        <BuketCard
          cardimage="/public/imgs/farvevalg_blomster/hvide_nuancer.webp"
          cardimagealt="Hvid buket blomster"
          badgepopulaere="true"
          farvenuance="Hvide nuancer"
          beskrivelse="Elegante og tidløse buketter, der bringer ro og renhed ind i dit hjem. En harmonisk kombination af klassiske hvide blomster og bløde grønne detaljer - et strejf af enkelthed og luksus til hverdagen"
        />
      </div>
      <div class="carousel-cell ml-xl">
        <BuketCard
          cardimage="/public/imgs/farvevalg_blomster/røde_nuancer.webp"
          cardimagealt="Rød buket blomster"
          badgepopulaere="false"
          farvenuance="Røde nuancer"
          beskrivelse="Blidhed og raffineret skønhed forenes i vores røde buketter. Disse varme og elegante kreationer tilføjer en romantisk og indbydende atmosfære til ethvert rum."
        />
      </div>
      <div class="carousel-cell ml-xl">
        <BuketCard
          cardimage="/public/imgs/farvevalg_blomster/blå_nuancer.webp"
          cardimagealt="Blå buket blomster"
          badgepopulaere="false"
          farvenuance="Blå nuancer"
          beskrivelse="En følelse af ro og fordybelse møder dig i vores blå buketter. Med deres kølige og sofistikerede toner skaber de et elegant udtryk og en behagelig atmosfære."
        />
      </div>
      <div class="carousel-cell ml-xl">
        <BuketCard
          cardimage="/public/imgs/farvevalg_blomster/farverige_nuancer.webp"
          cardimagealt="Farverig buket blomster"
          badgepopulaere="false"
          farvenuance="Farverige nuancer"
          beskrivelse="Livlige og glædesfyldte buketter i et smukt spil af farver. Perfekt til at bringe energi og elegance ind i dit hjem - en farverig hyldest til skønheden i blomster."
        />
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .carousel-cell.is-selected {
    opacity: 1;
  }

  @media only screen and (min-width: 900px) {
    .carousel-cell:not(.is-selected) {
      opacity: 0.4;
      margin-top: 40px;
    }
  }
</style>

<script>
  // ANIMATIONER
  import { inView, animate } from "motion";

  //   InView animation
  const fadein = document.querySelector(".fadein");

  inView(fadein, () => {
    fadein.classList.add(
      "animate__animated",
      "animate__fadeIn",
      "animate__slower"
    );
  });
</script>
