---
const {
  cardimage = "",
  cardimagealt = "",

  badgepopulaere = "false",

  farvenuance = "",
  beskrivelse = "",
} = Astro.props;
---

<article class="text-grøn-700 flex flex-col gap-2xs lg:max-w-[30vw]">
  <div class="relative">
    <img
      src={cardimage}
      alt={cardimagealt}
      class="w-full h-[65vh] object-cover"
    />
    {
      badgepopulaere === "true" && (
        <span class="text-body_s md:text-body_lg font-light bg-beige-50 py-2xs px-sm absolute top-sm right-0">
          Mest populære
        </span>
      )
    }
  </div>
  <div class="flex flex-col gap-4xs">
    <h3 class="font-headline text-headline3_s md:text-headline3_lg">
      {farvenuance}
    </h3>
    <p class="text-body_s md:text-body_lg font-light">
      {beskrivelse}
    </p>
  </div>
</article>
