---
import "../styles/tailwind.css";
---


<section class="whitespace-nowrap overflow-x-hidden bg-beige-50 py-xs w-screen">
    <!-- Første sektion med rullende indhold -->
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-sm">
      <span class="inline-flex items-center gap-sm">
        <img width="50" height="50" src="https://img.icons8.com/ios/50/map-marker--v1.png" alt="map-marker--v1" />
        <p class="text-body_lg text-grøn-700">Lokale blomster – ingen sprøjtemidler, ingen kunstgødning</p>
      </span>
      <span class="inline-flex items-center gap-sm">
        <img width="50" height="50" src="https://img.icons8.com/ios/50/flower--v1.png" alt="flower--v1" />
        <p class="text-body_lg text-grøn-700">Overskudsblomster – mindre spild, mere skønhed</p>
      </span>
      <span class="inline-flex items-center gap-sm">
        <img width="50" height="50" src="https://img.icons8.com/external-line-lima-studio/64/external-bouquet-event-line-lima-studio.png" alt="bouquet" />
        <p class="text-body_lg text-grøn-700">Certificerede blomster – ansvarlig produktion, bedre klima</p>
      </span>
    </div>
  
    <!-- Duplikeret indhold for jævn animation -->
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-xs" aria-hidden="true">
      <span class="inline-flex items-center gap-xs">
        <img width="50" height="50" src="https://img.icons8.com/ios/50/map-marker--v1.png" alt="map-marker--v1" />
        <p class="text-body_lg text-grøn-700">Lokale blomster – ingen sprøjtemidler, ingen kunstgødning</p>
      </span>
      <span class="inline-flex items-center gap-xs">
        <img width="50" height="50" src="https://img.icons8.com/ios/50/flower--v1.png" alt="flower--v1" />
        <p class="text-body_lg text-grøn-700">Overskudsblomster – mindre spild, mere skønhed</p>
      </span>
      <span class="inline-flex items-center gap-xs">
        <img width="50" height="50" src="https://img.icons8.com/external-line-lima-studio/64/external-bouquet-event-line-lima-studio.png" alt="bouquet" />
        <p class="text-body_lg text-grøn-700">Certificerede blomster – ansvarlig produktion, bedre klima</p>
      </span>
    </div>
  </section>
